* {
    box-sizing: border-box;
}

body {
    /* font-family: */
    background: #0f0e16;
    margin: 32px 49px;
    color: whitesmoke;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    /* background-color: whitesmoke; */
}

.nav-bar img {
    width: auto;
    height: 61px;
}


.tag-bar {
    display: block;
    font-size: 18px;
    margin: 0px;
}

ul {
    list-style-type: none;
    text-align: left;
    display: block;
}

li {
    display: inline-block;
    padding: 0px 10px;
    width: 95px;
    height: 32px;
    border-radius: 8px;
    background-color: #1e1d2b;
    text-align: center;
    text-justify: center;
}

.main-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
}