body {
    background: #0f0e16;
    font-family: 'Fira Sans', sans-serif;
    color: #5e5d77;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.log-in {
    display: flex;
    justify-content: space-between;
}

.log-in h4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.log-in img {
    width: auto;
    height: 351px;
}

.flaming-left {
    transform: scaleX(-1);
}

.log-in input {
    width: 412px;
    height: 48px;
    border-radius: 8px;
    border: solid 2px
}



