* {
    box-sizing: border-box;
}

body {
    /* font-family: */
    margin: 0 49px;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: minmax(100px, auto);
    background: whitesmoke;
    justify-items: center;
    align-items: center;
}

.search {
    grid-column: 1;
    grid-row: 1;
}

.logo {
    grid-column: 2 / 3;
    grid-row: 1;
}

.user{
    grid-column: 3 / 3;
    grid-row: 1;
}

.tag-bar {
    display: block;
}

ul {
    list-style-type: none;
    text-align: left;
    display: block;
}

li {
    display: inline-block;
    padding: 0px 10px;
}
